ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link style to underline on hover */
li a:hover {
    text-decoration: underline;
}

.buttonconnexion {
    background-color: #046FE0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonconnexion:hover {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24)
}

.header {
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: flex-end;
}

.center{
   display: flex;
   flex-direction: column;
   justify-content: baseline;
   align-items: center;
   padding: auto;
   margin: 10%;
}

.body
{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: auto;
}

.boutonrecherche{
    display: flex;
    flex-direction: row;
}


.barre input{
    width: 400%;
    height: 30px;
    display: flex;
    justify-content: center;
    padding: auto; 
    margin: 5%;
    box-shadow: 2px 5px 2px 0 rgba(0,0,0,0.100);
}

.barre{
    padding: auto;
    margin: auto;
    width: 50%;
    display: flex;
    text-align: center
}



.ulfooter{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: lightgrey;
}


.footer{
    padding: 1%;
    background-color: lightgrey;
}