ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link style to underline on hover */
li a:hover {
    text-decoration: underline;
}

.buttonconnexion {
    background-color: #046FE0;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonconnexion:hover {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24)
}